{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<div class="benefits-section color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width page-width--narrow section-{{ section.id }}-padding">
      <div class="benefits-content">
        {%- for block in section.blocks -%}
          <div class="benefit-item">
            {% if block.type == 'heading' %}
              <h2 class="benefits-title {{ block.settings.heading_size }}">
                {{ block.settings.heading }}
              </h2>
            {% endif %}

            <div class="benefits-description">
                {%- if block.settings.title != blank -%}
                  <h3 class="inline-richtext">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="svg-wrapper"
                      ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                    >
                  </a>
                {%- endif -%}
              </div>

            {% comment %}
            {% if block.type == 'text' %}
              <p class="benefits-description">
                {{ block.settings.text }}
              </p>
            {% endif %}
        {% endcomment %}
            {% if block.type == 'image' %}
              <div class="benefits-image">
             {% comment %}<img src="{{ block.settings.image | image_url: 'large' }}" alt="{{ block.settings.image.alt }}" width="100%" height="100%"/>{% endcomment %}
                <img img src="{{ 'comparison-img.png' | asset_url }}" alt="{{ block.settings.image.alt }}" width="100%" height="100%"/>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% schema %}
{
  "name": "Benefits",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Superior",
      "min": 0,
      "max": 100,
      "default": 36,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Inferior",
      "min": 0,
      "max": 100,
      "default": 36,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Texto del Encabezado",
          "default": "Descubre el Confort y Soporte que Mereces"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Tamaño del Encabezado",
          "default": "h2",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Descripción",
      "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "default": "t:sections.multicolumn.blocks.column.settings.title.default",
            "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        }
      ]
    },
    
    {
      "type": "image",
      "name": "Imagen",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Selecciona una Imagen"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sección de Beneficios",
      "category": "Custom"
    }
  ]
}
{% endschema %}