{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width page-width--narrow section-{{  section.id }}-padding">
      <div class="grid__item">
          <h2 class="{{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- if section.settings.page.title != blank -%}
              {{ section.settings.page.title | escape }}
            {%- else -%}
              {{ 'sections.page.title' | t }}
            {%- endif -%}
          </h2>
             <div class="rte">
                <p>{{ section.settings.description }}</p>

                <ul class="icon-list">
                  {% for block in section.blocks %}
                      <li>
                        <img src="{{ block.settings.icon | image_url}}" alt="{{ block.settings.icon_alt }}" width="100%" height="auto">
                        <span>{{ block.settings.text }}</span>
                      </li>
                    {% endfor %}
                </ul>
                <p>{{ section.settings.additional_text }}</p>
             </div>
      </div>
      <div class="grid__item">
        <img src="{{ section.settings.image | image_url: 'large' }}" alt="{{ section.settings.image_alt }}" width="100%" height="auto">
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Sección personalizada con Íconos e Imagen",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Título Principal",
      "default": "Descubre el Confort y Soporte que Muerces"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Descripción",
      "default": "Con este cuidado, tus plantillas te acompañarán durante mucho tiempo, manteniéndose siempre tus pies cómodos y bien protegidos."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen Principal"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Texto alternativo de la Imagen"
    },
    {
      "type": "textarea",
      "id": "additional_text",
      "label": "Texto Adicional",
      "default": "Más información sobre el cuidado de tus plantillas."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Esquema de Color",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "icon_with_text",
      "name": "Ícono con Texto",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícono"
        },
        {
          "type": "text",
          "id": "icon_alt",
          "label": "Texto alternativo del Ícono"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texto del Ícono",
          "default": "Lava las plantillas a mano con agua tibia y jabón suave. No uses lavadora ni secadora."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sección con Íconos e Imagen",
      "category": "Custom"
    }
  ]
}
{% endschema %}


{%  comment %}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <h2 class="{{ section.s }}">

    </h2>
    <h2 class="page-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.page.title != blank -%}
        {{ section.settings.page.title | escape }}
      {%- else -%}
        {{ 'sections.page.title' | t }}
      {%- endif -%}
    </h2>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.page.content != blank -%}
        {{ section.settings.page.content }}
      {%- else -%}
        <div class="page-placeholder-wrapper placeholder">
          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
{% endcomment %}